.category-row {
	display: grid;
	grid-auto-rows: min-content;
	grid-template-columns:1fr;
	grid-gap: 15px;
	grid-template-areas: 
		"category-title"
		"posts-list"
	;
}

.category-title {
	grid-area: category-title;
	font-size: 22px;
    font-weight: bold;
    justify-self: center;
    text-transform: uppercase;
	padding-top: 60px;
}
.category-title::before {
	content: "—";
	color: rgb(182, 142, 83);
	padding-right: 20px;
}
.category-title::after {
	content: "—";
	color: rgb(182, 142, 83);
	padding-left: 20px;
}

.categ-posts-list {
	grid-area: posts-list;
	display: grid;
	row-gap: 30px;
	justify-items: center;
}

.categ-post-item {
	display: grid;
	grid-gap: 15px;
	padding: 5px;
	max-width: 320px;
}
.categ-post-item:hover {
	box-shadow: -20px 20px 0 -17px #eee,
	20px -20px 0 -17px #eee,
	20px 20px 0 -20px #929292,
	0 0 0 2px #929292;
	transform: scale(1.02);
	transition: .25s cubic-bezier(0.47,0,0.75,0.72);
}

.categ-post-photo>img {
	width: 100%;
}
.categ-post-description {
	display: grid;
	row-gap: 5px;
	justify-items: center;
}
.categ-post-info {
	display: flex;
	align-items: center;
	margin-top: -18px;
}

.categ-post-date {
	width: 45px;
	height: 45px;
	background-color: #b68d55;
	color: white;
	text-align: center;
	font-size: 14px;
	padding: 8px;
}
.categ-post-category {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.2em;
	color: #b68d55;
	padding-left: 15px;
}

.categ-post-author {
	font-style: italic;
	color: #cccccc;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 15px;
}
.categ-post-title {
	background-color: white;
	font-weight: bold;
	padding:15px 5px 0 5px;
	font-size: 18px;
}

.categ-post-text {
	line-height: 1.5em;
	padding: 0 5px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden; 
}

.categ-link-read-more {
	text-decoration: none;
	color: #b68e53;
	font-weight: bold;
	width: max-content;
	padding-bottom: 4px;
	margin: 10px 0;
}
.categ-link-read-more:hover {
	color: black;
}



@media(min-width: 768px) {
	
	.category-row {
		grid-template-columns:1fr;
		column-gap: 15px;
		row-gap: 65px;
		grid-template-areas:
			"category-title"
			"posts-list"
		;
	}
	.categ-posts-list {
		grid-template-columns: 1fr 1fr;
    	column-gap: 10px;
		grid-template-areas:
			"post-item post-item" 
		;
	}
}

@media(min-width: 992px) {
	
	.categ-posts-list {
		grid-template-columns: 1fr 1fr 1fr;
    	column-gap: 10px;
		grid-template-areas:
			"post-item post-item post-item" 
		;
	}
}
