.main {
    row-gap: 60px;
}

.main-row {
	display: grid;
	grid-template-columns:1fr;
	grid-gap: 15px;
	grid-template-areas: 
		"posts-derictions"
		"posts-list"
		"posts-sidebar"
	;
}

@media(max-width: 767px) {
	.main-row {
		row-gap: 40px;
	}
}

@media(min-width: 768px) {
	.main-row {
		grid-template-columns:2fr 1fr;
		column-gap: 15px;
		row-gap: 65px;
		grid-template-areas: 
			"posts-derictions posts-derictions"
			"posts-list posts-sidebar"
		;
	}
	
}

