* {
	box-sizing: border-box;
}
body {
	font-family: 'Heebo', sans-serif;
	font-family: 'Inter', sans-serif;
}
.main {
	display: grid;
    row-gap: 60px;
	margin-bottom: 100px;
}
.container {
	max-width: 100%;
	margin: 0 auto;
}
.header-row {
	display: grid;
	row-gap: 40px;
	grid-template-areas:
		"logo logo"
		"search-field menu"
	;
}
.main-row {
	display: grid;
	grid-template-columns:1fr;
	grid-gap: 15px;
	grid-template-areas: 
		"posts-derictions"
		"posts-list"
		"posts-sidebar"
	;
}
.footer-row {
	display: grid;
	row-gap:35px;
	justify-items: center;
}

@media(max-width: 767px) {
	.main-row {
		row-gap: 40px;
	}
	.header-row {
		justify-items: center;
		grid-template-columns: 80% 20%;
		align-items: center;
	}
}

@media(min-width: 768px) {
	.container {
		width: 750px;
	}
	.header-row {
		grid-template-columns: 60% 40%;
		grid-template-areas:
			"logo logo"
			"menu search-field"
		;
	}
	.main-row {
		grid-template-columns:2fr 1fr;
		column-gap: 15px;
		row-gap: 65px;
		grid-template-areas: 
			"posts-derictions posts-derictions"
			"posts-list posts-sidebar"
		;
	}
	
}

@media(min-width: 992px) {
	.container {
		width: 970px;
	}
	
}
@media(min-width: 1200px) {
	.container {
		width: 1170px;
	}
}