* {
	box-sizing: border-box;
}
body {
	font-family: 'Inter', sans-serif;
}
.main {
	display: grid;
	z-index: 150;
	background-color: white;
}
.container {
	max-width: 100%;
	margin: 0 auto;
}
.header {
	position: sticky;
	top:-90px;
	z-index: 200;
	background-color: white;
	padding-bottom: 22px;
}
.header-row {
	display: grid;
	row-gap: 20px;
	grid-template-areas:
		"logo logo"
		"search-field menu"
	;
}
.footer {
	padding-top: 60px;
	z-index: 100;
	background-color: white;
}
.footer-row {
	display: grid;
	row-gap:35px;
	justify-items: center;
}


@media(max-width: 767px) {
	.header-row {
		justify-items: center;
		grid-template-columns: 80% 20%;
		align-items: center;
	}
}

@media(min-width: 768px) {
	.container {
		width: 750px;
	}
	.header-row {
		grid-template-columns: 60% 40%;
		grid-template-areas:
			"logo logo"
			"menu search-field"
		;
	}
	
}

@media(min-width: 992px) {
	.container {
		width: 970px;
	}
	
}
@media(min-width: 1200px) {
	.container {
		width: 1170px;
	}
}