* {
	box-sizing: border-box;
}
body {
	font-family: 'Heebo', sans-serif;
	font-family: 'Inter', sans-serif;
}
.main {
	display: grid;
    row-gap: 60px;
}
.container {
	max-width: 100%;
	margin: 0 auto;
}
.header-row {
	display: grid;
	row-gap: 40px;
	grid-auto-rows: min-content;
	grid-template-areas:
		"logo"
		"menu"
		"search-field"
	;
}
.main-row {
	display: grid;
	grid-auto-rows: min-content;
	grid-template-columns:1fr;
	grid-gap: 15px;
	grid-template-areas: 
		"posts-derictions"
		"posts-list"
		"posts-sidebar"
	;
}
.footer-row {
	display: grid;
	row-gap:35px;
	justify-items: center;
}



















.posts-sidebar {
	grid-area: posts-sidebar;
	display: grid;
    justify-items: center;
	row-gap: 50px;
	height: max-content;
}




.title-block {
	font-weight: bold;
	letter-spacing: 0.2em;
}
.title-block:before {
    content: "—";
	color: #b68e53;
	padding-right: 20px;
}
.title-block:after {
    content: "—";
	color: #b68e53;
	padding-left: 20px;
}
.about-section, .network-section, .categories-section, .twitter-section {
	display: grid;
	row-gap: 25px;
	justify-items: center;
}
.photo-block {
	width: 55px;
	height: 55px;
}
.photo-block>img {
	border-radius: 100px;
	width: 100%;
}
.text-block {
	font-style: italic;
	color:#6f6f6f;
	font-size: 17px;
	line-height: 1.4em;
	width: calc(100% - 60px);
}
.networks-list {
	display: flex;
}
.networks-list>li {
	display: flex;
	align-items: center;
}
.networks-list>li:after {
    content: "•";
	color: black;
	padding: 0 20px;
}
.networks-list>li:last-child:after {
    content: "";
	padding: 0;
}
.networks-list>li>a {
	display:block;
	width: 25px;
	height: 25px;
}
/* .twitter {
	background: url(images/twitter.png) no-repeat center;
}
.linkdin {
	background: url(images/linkedin.png) no-repeat center;
}
.instagram {
	background: url(images/instagram.png) no-repeat center;
}
.facebook {
	background: url(images/facebook.png) no-repeat center;
}
.dribbble {
	background: url(images/dribbble.png) no-repeat center;
}
.networks-list .twitter:hover {
	background: url(images/twitter_hov_g.png.png) no-repeat center;
}
.networks-list .linkdin:hover {
	background: url(images/linkedin_hov_g.png.png) no-repeat center;
}
.networks-list .instagram:hover {
	background: url(images/instagram_hov_g.png.png) no-repeat center;
}
.networks-list .facebook:hover {
	background: url(images/facebook_hov_g.png) no-repeat center;
}
.networks-list .dribbble:hover {
	background: url(images/dribbble_hov_g.png) no-repeat center;
} */
.categories-list>li {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
.categories-list>li:hover a {
	color: #b08247;;
}
.categories-list>li>a {
	display: block;
	text-decoration: none;
	color: #b5b5b5;
}
.categories-list>li>div {
	font-size: 12px;
	padding-left: 10px;
}
.twitter-comment-text {
	color:#6f6f6f;
	font-size: 17px;
	line-height: 1.4em;
	width: calc(100% - 70px);
	text-align: center;
	quotes: '“' '”';
	position: relative;
}

.twitter-comment-text span {
	font-size: 12px;
	color: black;
	font-weight: bold;
}
.twitter-comment-text::before {
	color: #b08247;
	content: open-quote;
	line-height: 0;
	font-size: 3em;
	font-family: 'Times New Roman', sans-serif;
	position: absolute;
    top: 15px;
    left: -25px;
}
.twitter-comment-text::after {
	color: #b08247;
	content: close-quote;
    line-height: 0;
    font-size: 3em;
	font-family: 'Times New Roman', sans-serif;
	position: absolute;
    bottom: 15px;
    right: -25px;
}
.inastagram-block {
	display: grid;
	row-gap: 30px;
	justify-items: center;
}
.inst-list {
	justify-self: center;
}
.inst-title {
	font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.2em;
}
.inst-list-photo {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	flex-wrap: wrap;
}
.inst-list-photo>li>a {
	display: block;
}
.inst-list-photo>li>a>img {
	-webkit-transition: .3s ease-in-out;
	transition: .5s ease-in-out;
}
.inst-list-photo>li>a:hover img {
	transform: scale(1.2);
}






@media(max-width: 767px) {
	.main-row {
		row-gap: 40px;
	}
}

@media(min-width: 768px) {
	.container {
		width: 750px;
	}
	.header-row {
		grid-template-columns: 60% 40%;
		grid-template-areas:
			"logo logo"
			"menu search-field"
		;
	}
	.main-row {
		grid-template-columns:2fr 1fr;
		column-gap: 15px;
		row-gap: 65px;
		grid-template-areas: 
			"posts-derictions posts-derictions"
			"posts-list posts-sidebar"
		;
	}
	
}

@media(min-width: 992px) {
	.container {
		width: 970px;
	}
	
}
@media(min-width: 1200px) {
	.container {
		width: 1170px;
	}
}