.post-direction-item {
	position: relative;
	padding: 2px 2px 0 2px;
}
.post-direction-item>img {
	width: 100%;
	filter: grayscale(100%);
}
.post-direction-box {
	position: absolute;
	bottom: 1px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width:calc(100% - 60px);
	height: 80px;
	border: 1px solid transparent;
}
.post-direction-bg {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width:calc(100% - 60px);
	height: 50px;
	background-color: white;
}
.post-direction-item:hover {
	cursor: pointer;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
	-23px 0 20px -23px rgba(0, 0, 0, .8),
	23px 0 20px -23px rgba(0, 0, 0, .8),
	0 0 40px rgba(0, 0, 0, .1) inset;

}
.post-direction-item:hover img {
	filter: none;
	transition: .40s cubic-bezier(0.4, 0, 1, 1);
}
.post-direction-item:hover .post-direction-box {
	border: 1px solid white;
}
.post-direction-title {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-align: center;
	line-height: 50px;
}
@media(max-width: 767px) {
	
	.post-direction-item {
		max-width: 300px;
	}
}


@media (min-width:768px) and (max-width:991px) {
	.posts-derictions>.post-direction-item:last-child {
		grid-area: post-direction-item-last;
	}
	.posts-derictions {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
			"posts-derictions posts-derictions"
			"post-direction-item-last post-direction-item-last"
		;
	}
	.post-direction-item {
		max-width: 350px;
	}
} 

@media(min-width: 992px) {
	.posts-derictions {
		grid-template-columns: 1fr 1fr 1fr;
	}
}