
.title-block {
	font-weight: bold;
	letter-spacing: 0.2em;
}
.title-block:before {
    content: "—";
	color: #b68e53;
	padding-right: 20px;
}
.title-block:after {
    content: "—";
	color: #b68e53;
	padding-left: 20px;
}
.about-section {
	display: grid;
	row-gap: 25px;
	justify-items: center;
}
.photo-block {
	width: 55px;
	height: 55px;
}
.photo-block>img {
	border-radius: 100px;
	width: 100%;
}
.text-block {
	font-style: italic;
	color:#6f6f6f;
	font-size: 17px;
	line-height: 1.4em;
	width: calc(100% - 60px);
}