.menu {
	grid-area: menu;
	align-self: center;
	display: flex;
	justify-content: space-evenly;
}
.menu:hover li>a {
	color:grey;
}
.menu>li>a {
	display: block;
	text-decoration: none;
	color: #b68e53;
	font-weight: bold;
	height: 35px;
    line-height: 35px;
}
.menu>li:hover a {
	color: #b68e53;	
}

@media(max-width: 767px) {
	.menu>li>a {
		font-size: 14px;
	}
	

}