.logo {
	grid-area: logo;
	justify-self: center;
	margin-top: 10px;
}

@media(max-width: 767px) {
	.logo {
		text-align: center;
	}
	.hide-xs {
		display: none;
	}

}
@media(min-width: 768px) {
	.hide-md {
		display: none;
	}

}