.blog-row {
	display: grid;
	grid-auto-rows: min-content;
	grid-template-columns:1fr;
	grid-gap: 15px;
	grid-template-areas: 
		"blog-title"
		"posts-list"
		"posts-sidebar"
	;
}

.blog-title {
	grid-area: blog-title;
	font-size: 22px;
    font-weight: bold;
    justify-self: center;
    text-transform: uppercase;
	padding-top: 60px;
}
.blog-title::before {
	content: "—";
	color: rgb(182, 142, 83);
	padding-right: 20px;
}
.blog-title::after {
	content: "—";
	color: rgb(182, 142, 83);
	padding-left: 20px;
}

.blog-page-sidebar {
    grid-area: posts-sidebar;
    display: grid;
    justify-items: center;
    row-gap: 50px;
    height: max-content;
}

@media(min-width: 768px) {
	.blog-row {
		grid-template-columns:2fr 1fr;
		column-gap: 15px;
		row-gap: 65px;
		grid-template-areas:
			"blog-title blog-title"
			"posts-list posts-sidebar"
		;
	}
	
}



