.search-field {
	grid-area: search-field;
	display: flex;
	height: 30px;
	justify-content: flex-end;
}
.search-request {
	flex: 0 0 90%;
	border-color:transparent;
	font-size: 16px;
	border-radius: 3px;
}
.btn-search {
	flex: 0 0 10%;
	max-width: 30px;
	border-color:transparent;
	outline: transparent;
	cursor: pointer;
	background-color: transparent;
	background-image: url(search.png);
	background-repeat: no-repeat;
	background-size: 70%;
	background-position-x: center;
	background-position-y: center;
	padding: 0;
}

@media(max-width: 767px) {
	.search-field {
		width: 100%;
		padding-left: 10px;
		justify-content: center;
	}
	.search-request {
		flex: 0 0 85%;
	}
	.btn-search {
		flex: 0 0 15%;
	}
}
@media(max-width: 991px) {
	.search-request {
		outline: 1px solid #b68e53;
	}
}

@media(min-width: 992px) {
	.search-request {
		flex: 0 0 10%;
		border-color:transparent;
		font-size: 16px;
	}
	.search-request:focus {
		flex: 0 0 80%;
		outline: 1px solid #b68e53;
		transition: 1s;
	}
	.search-field:hover .search-request{
		outline: 1px solid #b68e53;
	}
}
