.carousel .slide .legend {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.carousel .slide .legend .slider-category {
    text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.2em;
    color: #b68e53;
}
.carousel .slide .legend .slider-category:before {
    content: "—";
	color: black;
	padding-right: 20px;
}
.carousel .slide .legend .slider-category:after {
    content: "—";
	color: black;
	padding-left: 20px;
}
.carousel .slide .legend .slider-title {
    font-size: 20px;
}
.carousel .slide .legend .slider-link {
    display: inline-block;
    text-decoration: none;
    width: 140px;
	height: 40px;
    line-height: 40px;
	border: 1px solid #b68e53;
	color: #929292;
	letter-spacing: 0.2em;
	border-radius: 3px;
    text-align: center;
}
.carousel .slide .legend .slider-link:hover {
    background-color:#b68e53;
	color: white;
}
@media (max-width: 767px) {
    .slider-block {
        display: none;
    }
}