.carousel .slide .legend .slider-category {
    text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.2em;
    color: #b68e53;
    padding: 15px 0;
}
.carousel .slide .legend .slider-category:before {
    content: "—";
	color: black;
	padding-right: 20px;
}
.carousel .slide .legend .slider-category:after {
    content: "—";
	color: black;
	padding-left: 20px;
}
.carousel .slide .legend .slider-title {
    font-size: 20px;
    padding: 15px 0;
}
.carousel .slide .legend .slider-link {
    display: inline-block;
    text-decoration: none;
    width: 140px;
	height: 40px;
    line-height: 40px;
	border: 1px solid #b68e53;
	color: #929292;
	letter-spacing: 0.2em;
	border-radius: 3px;
    text-align: center;
    margin: 15px 0;
}
.carousel .slide .legend .slider-link:hover {
    background-color:#b68e53;
	color: white;
}